* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style untuk body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: green;
    background-color: #62abd3;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

